* {
    box-sizing: border-box;
}

/* NAV BAR STYLING */

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #c3bde2;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 78px;
    z-index: 1;
}

li {
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    
}

li a {
    color: black;
    text-decoration: none;
    padding-left: 60px;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-item {
    padding-top: 30px;
}

#logo {
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    padding-top: 15px;
}


@media screen and (max-width: 850px) {
    ul {
        justify-content: left; 
    }

    li {
        font-size: 16px; 
    }

    li a {
        padding: 15px; 
    }

    #logo {
        font-size: 28px;
    }
} 

@media screen and (max-width: 630px) {
    ul {
        height: 60px;
    }

    li {
        
        font-size: 12px;
    }

    li a {
        padding: 10px;
    }

    #logo {
        font-size: 20px;
        padding-top: 20px;
    }
}

/* WEDDING.PHP PAGE LAYOUT */
.main-content {
    display: flex;
    flex-direction: row;
}

/* FILTER STYLING */
.filter-section {
    border-right: 1px solid black;
    padding-top: 214px;
    padding-left: 50px;
    padding-right: 100px;
    max-width: 300px;
    width: 407px;
    min-height: 100%;
    position: fixed;
}

#filter-heading {
    font-family: 'Helvetica', 'Arial';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    width: 156px;
    margin-bottom: 30px;
}

.filter-subheading {
    font-family: 'Helvetica', 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
}

#wedding-date-picker {
    margin-bottom: 25px;
}


.catering-grade-label {
    font-family: 'Helvetica', 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}



/* PAGE TITLES */
.title {
    font-family: 'Helvetica', 'Arial';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

#title-browse {
    padding-top: 120px;
    padding-left: 400px;
}

#title-single  {
    padding-top: 145px;
    padding-left: 525px;
}

/* VENUE CARD STYLING */
.venue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 400px;
}

.venue-card {
    display: flex;
    flex-direction: row;
    width: 1049px;
    height: 295px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.venue-image {
    width: 607px;
}

.venue-info {
    width: 442px;
    padding-left: 36px;
}

.venue-info h3 {
    font-family:'Helvetica', 'Arial';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 30px;
}
    
.overview-details {
    font-family: 'Helvetica', 'Arial';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 1px;
    padding-bottom: 12px;
}

.venue-info a {
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    color: rgb(124, 124, 124);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

