* {
    box-sizing: border-box;
}

body {
    /* background-color: #f0f0f0; */
    background-color: #F2EFE5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAV BAR STYLING */
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background-color: #c3bde2; */
    /* background-color: #465151; */
    /* background-color: #B4B4B8; */
    background-color: #98989E;
    color: white;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 78px;
    z-index: 1;
  }
  
  nav a {
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
  }
  
  .dropdown {
    /* float: left; */
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    /* font-size: 16px;   */
    border: none;
    outline: none;
    
    padding: 30px 16px;
    background-color: inherit;
    
    margin: 0;
  }

  .dropbtn {
    color: whitesmoke;
  }
  
  /* nav a:hover, .dropdown:hover .dropbtn {
    background-color:#c3bde2;
  } */

  .navbar-item:hover, .dropdown:hover .dropbtn {
    background-color: whitesmoke;
    color: #465151;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #c3bde2;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 78px;
    z-index: 1;
}

li {
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    
} */

/* li a {
    color: black;
    text-decoration: none;
    padding-left: 60px;
} */

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-item {
    position: relative;
    padding-top: 30px;
    /* padding-left: 30px; */
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    text-align: center;
}

#logo {
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    padding-top: 15px;
    margin-left: 20px;
}




/* WEDDING.PHP PAGE LAYOUT */


/* CAROUSEL PAGE LAYOUT */

#homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
}

#homeTitleDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#home-title {
    margin-top: 120px;
}

.carouselInformation {
    padding-left: 50px;
    padding-right: 40px;
}

.carouselInformation .buttonStyler a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.mySlides h3 {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 80px;
}

#carouselDescription {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 40px;
}

#venueCarousel {
    display: flex;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; */
    background-color: #E3E1D9;
    width: 100%;
    height: 550px;
   
}

.mySlides {
    display: none;
    
}

.slideContainer {
    display: flex;
    flex-direction: row;
}


.carouselImage {
    height: 550px;
}

#carouselInformation {
    width: 700px;
    margin-left: 70px;
    margin-top: 50px;
}


#carouselNavButtons {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    
}

.prevCarouselButton, .nextCarouselButton {
    cursor: pointer;
   
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carouselInformation button {
    text-decoration: none;
}


.prevCarouselButton:hover, .nextCarouselButton:hover {
    background-color: rgba(0,0,0,0.8);
}

#carouselDots {
    margin-top: -30px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
}

/* WEDDING.PHP SEARCH STYLING */
#homeSearch {
    margin-top: 15px;
}

#homeSearchTitle {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 30px;
    margin-right: 20px;
}

#homeSearchTitleDiv {
    display: flex;
    align-items: baseline;
}

#homeSearchErrorMessage {
    color: red;
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 20px;
}

.homeSearchInput {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 18px;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 0px 10px;
}

.homeSearchDate {
    width: 230px;
}

#homeSearchSubmit {
    font-size: 18px;
    padding: 12px 20px;
    margin: 0px 10px;
}

/* .main-content {
    display: flex;
    flex-direction: row;
} */

/* FILTER STYLING */
/* .filter-section {
    border-right: 1px solid black;
    padding-top: 214px;
    padding-left: 50px;
    padding-right: 100px;
    max-width: 300px;
    width: 407px;
    min-height: 100%;
    position: fixed;
} */

/* ALLVENUES.PHP PAGE LAYOUT */
#topBrowseSection {
    display: flex;
    flex-direction: row;
    width: 1500px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
   
}

#topBrowseCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hiddenBrowseVenuesMessage {
    display: none;
}

.noBrowseVenuesMessage {
    color: #808080;
    font-size: 22px;
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-weight: 500;
}

#noBrowseDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250%;
    margin: auto;
    margin-top: 30px;
}

#noBrowseLineTwo {
    margin-top: -5px;
}

/* .filter-section {
    padding-top: 100px;
} */

.filter-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 450px;
    justify-content: space-between;
}

#filter-heading {
    font-family: 'Helvetica', 'Arial';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    /* display: inline-block; */
    width: 156px;
    margin-bottom: 30px;
}

.filter-subheading {
    font-family: 'Helvetica', 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
}

/* #wedding-date-picker {
    margin-bottom: 25px;
} */


#weddingDateFilterDiv {
    display: flex;
    flex-direction: column;
}

#partySizeFilterDiv {
    display: flex;
    flex-direction: column;
}

.catering-grade-label {
    font-family: 'Helvetica', 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

#cateringGradeFilterCheckboxes {
    display: flex;
    flex-direction: row;
}

/* PAGE TITLES */
.title {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

/* #browseHeadingDiv {
    text-align: center;
    margin: auto;
} */

/* #title-browse {
    padding-top: 120px;
    padding-left: 400px;
    position: absolute;
    
} */

#favouritesTitleDiv {
    display: flex;
    flex-direction: row;
    width: 1500px;
    justify-content: flex-start;
}

#favourite-title-browse {
    margin-top: 120px;
    margin-bottom: -25px;
}

#browse-section {
    display: flex;
    flex-direction: column;
 
    align-items: center;
    justify-content: center;
}



/* VENUE CARD STYLING */
.venue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* padding-left: 400px; */
}

.favourite-venue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

#noFavouritesMessage {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-weight: 500;
    font-size: 22px;
    color: #808080;
}

.venue-card {
    display: flex;
    flex-direction: row;
    /* background-color: #e2dfda; */
    background-color: #E3E1D9;
    width: 1500px;
    height: 500px;
    margin-bottom: 30px;
   
    border-radius: 15px;
    overflow: hidden;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.venue-image {
    /* width: 800px; */
    height: 500px;
}

.venue-info {
    width: 700px;
    margin-left: 70px;
    margin-top: 50px;
}

.venue-info h3 {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 1px;
}
    
.overview-details {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: -1px;
    margin-bottom: 70px;
}

/* .venue-info a {
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    color: rgb(124, 124, 124);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
} */

.venue-info a{
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.boxHeading {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.heartsvg {
    height: 27px;
    margin-left: 7px;
    
}

.hidden {
    display: none;
}

/* SINGLE VENUE PAGE STYLING */


#thisVenueBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

#thisVenueBody h3 {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 24px;
}

#thisVenuebody p {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
}

.singleVenueH3Style {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 24px;
}

.singleVenueParaStyle {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
}

#singleImageDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#title-single {
    margin-top: 120px;
    font-family: 'Georgia', 'Helvetica', 'Arial';
}

#singleVenueImage {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    margin-bottom: 20px;
}

.singleMainImage {
    width: 100%;
    object-fit: cover;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); /
}

#singleVenueDescriptionContainer {
    display: flex;
    width: 100%;
}

#singleVenueDescriptionDiv {
    background-color: #E3E1D9;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#singleVenueDetailsDiv {
    background-color: #E3E1D9;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 10px;
    min-width: 230px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#singleLocationDiv {
    background-color: #E3E1D9;
    flex-grow: 1;
    border-radius: 15px;
    padding: 20px;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#locationMap {
    height: 100%;
    min-width: 300px;
    /* max-width: 600px; */
    min-height: 300px;
    max-height: 300px;
}

#singleVenueRatingDiv {
    background-color: #E3E1D9;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#singleLocationRatingContainer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#bookingSubheading {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
}

#venueRatingTitle {
    font-family: 'Georgia', 'Helvetica', 'Arial';
}

#pricingInfo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}

#pricingBox {
    background-color: #E3E1D9;
    border-radius: 15px;
    padding-left: 70px;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    margin-right: 10px;
    flex-grow: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#costCalculator {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E3E1D9;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#pricingBoxHeading {
    font-family: 'Georgia', 'Helvetica', 'Arial';
}

#costBoxHeading {
    font-family: 'Georgia', 'Helvetica', 'Arial';
}

#ratingDoughnutChart {
    width: 600px;
    height: 300px;
    /* margin-left: -50px; */
}

#cateringInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.catering-grade-label {
    font-family: 'Helvetica', 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: center; 
}

#costCalculatorInput {
    display: flex;
    flex-direction: row;
}

.buttonStyler {
    background-color: #b09888;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    transition-duration: 0.4s;

}

.buttonStyler:hover {
    background-color: #9E806D;
}


.buttonStyler:active {
    transform: scale(0.95);
}

#partyInputContainer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#dateInputContainer {
    display: flex;
    flex-direction: column;
}

.costError {
    margin-top: 10px;
    color: red;
}

#costInvalidResponse {
    color: red;
    /* width: 75%; */
    text-align: center;
    margin-top: 15px;
    margin-bottom: -15px;
}

#costInvalidResponse2 {
    color: red; 
    text-align: center;
}

#submitCostButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pricingBoxHeading {
    font-size: 22px;
}

#costBoxHeading {
    font-size: 22px;
}

#venuePriceSubheading {
    font-size: 20px;
    font-weight: 500;
}

#cateringPriceSubheading {
    font-size: 20px;
    font-weight: 500;
 
}

#weekendPrice {
    margin-bottom: 30px;
}

.pricingSubheadingItalic {
    font-style: italic;
    font-weight: 400;
}

#overviewInfo {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}



#venueRatingHeader  {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: baseline;
}

#venueRatingTitle {
    margin-bottom: -5px;
    margin-right: 10px;
}

.ratingValues {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Helvetica', 'Arial';
    font-size: 16px;
}

.starsvg {
    height: 16px;
    width: 16px;
}

.ratingAverage {
    margin-left: 7px;
    margin-right: 2px;
}

.numberOfRatings {
    color: #968F8F;
}

/* MODAL STYLING */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid #d7d3c4;
    border-radius: 15px; 
    z-index: 10;
    background-color:  #F2EFE5;
    width: 800px;
    max-width: 80%;
    /* min-height: 50%; */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.modal-title {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: -10px;
    text-align: center;
}

.modal-header .title {
   
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}

#venuePopularityChart {
    width: 500px;
    height: 500px;
}

/* COMPARE VENUES PAGE STYLING */
#mainBodyCompare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compareSubmit {
    text-align: center;
    margin-bottom: 65px;
}

#compareGraphs {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    width: 90%;
}


#compareRadar {
    max-height: 500px;
}

#compareBar {
    min-height: 500px;
    max-height: 700px;
}

#compareRadar,
#compareBar {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropdownCompare {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.compareImg {
    max-width: 450px;
}

#compareImgPlaceholderLeft {
    margin-bottom: 15px;
}

#compareImgPlaceholderRight {
    margin-bottom: 15px;
}

.comparisonBox {
    margin-bottom: 15px;
}

#compareForm {
    width: 60%;
}

#compareDropdowns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#leftCompareColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    margin-right: 40px;
}

.comparisonBoxCard {
    background-color: #E3E1D9;
    border-radius: 15px;
    padding: 10px 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.comparisonCateringDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparisonCateringTitleDiv {
    margin-bottom:  -50px;
}

.comparisonTitleDivLeft {
    margin-bottom: -35px;
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 22px;
}

.comparisonTitleDivRight {
    margin-bottom: -35px;
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 22px;
}

.hideComparisonTitle {
    display: none;
}

#rightCompareColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

.comparisonOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparisonPricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparisonInformation {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 18px;
}

#comparisonDetailsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comparisonCateringRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comparisonDetailsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comparisonCateringLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compareSubmit {
    font-size: 16px;
    padding: 10px 20px;
}

#compareFormError {
    font-family: 'Helvetica', 'Arial';
    margin-top: -10px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
}

.compareWithColumn {
    margin-top: 120px;
}

.compareGraphMargin {
    margin-top: -170px;
}

#compareChartTitle {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: -10px;
}

#compareAllGraphStats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-compare {
    margin-top: 120px;
}

/* COMPARE ALL VENUES PAGE STYLING */
#title-compare-all {
    margin-top: 120px;
}

#mainBodyCompareAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compareAllButtons {
    display: flex;
    flex-direction: row;
    margin-top: -120px;
}

#showCapacityCompare {
    margin-right: 5px;
    font-size: 16px;
}

#showVenueDayPriceCompare {
    margin-right: 5px;
    font-size: 16px;
}

#compareAllChartDiv {
    margin-top: 50px;
    height: 500px;
    width: 110%;
}

/* CONTACT FORM STYLING */
#contactFormHeading {
    font-family: 'Georgia', 'Helvetica', 'Arial';
    margin-top: 120px;
    margin-bottom: 40px;
}

#contactPageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 14px;
}

.contactFormDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#contactForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.contactFormInput {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 18px;
    margin-bottom: 5px;
}

.contactFormInputEl {
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 18px;
    border-radius: 15px;
    padding: 12px 20px;
}

#contactFormSubmit {
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 15px;
}

#contactFormNameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#contactFormOtherInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#contactFormFirstName {
    width: 245px;
}

#contactFormSurname  {
    width: 245px;
}

#contactFormQueryDiv {
    width: 100%;
    margin-bottom: 50px;
}

#contactFormVenue {
    padding-right: 5px;
}

#contactFormDate {
    width: 175px;
}

#contactFormPartySize {
    width: 105px;
}

#contactFormQuery {
    width: 100%;
}

.contactError {
    color: red;
    font-family: 'Nunito Sans', 'Helvetica', 'Arial';
    font-size: 16px;
}


/* NAV BAR MEDIA QUERIES */
@media screen and (max-width: 850px) {
    ul {
        justify-content: left; 
    }

    li {
        font-size: 16px; 
    }

    li a {
        padding: 15px; 
    }

    #logo {
        font-size: 28px;
    }
} 

@media screen and (max-width: 720px) {
    #logo {
        padding-top: 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 620px) {
    .navbar-item {
        font-size: 14px;
    }
}

@media screen and (max-width: 555px) {
    nav a {
        padding: 14px 10px;
    }
}

@media screen and (max-width: 540px) {
    #logo {
        margin-left: -2px;
        margin-top: 10px;
    }
}

/* @media screen and (max-width: 520px) {
    #logo {
        margin-left: -7px;
    }
}

@media screen and (max-width: 513px) {
    #logo {
        margin-right: -5px;
    }
}

@media screen and (max-width: 508px) {
    #logo {
        margin-right: -10px;
        margin-left: -10px;
    }
} */

/* BROWSE VENUES MEDIA QUERIES */
@media screen and (max-width: 1520px) {
    .venue-card {
        width: 1000px;
        height: 350px;
    }

    .venue-image {
        height: 350px;
    }

    .venue-info h3 {
        font-size: 24px;
        margin-top: 1px;
    }

    .overview-details {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .venue-info a {
        font-size: 17px;
    }

    #topBrowseSection {
        width: 1000px;
    }

    #noBrowseDiv {
        width: 160%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1010px) {
    .venue-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 495px;
        height: 600px;
    }

    .venue-image {
        height: 400px;
        width: 700px;
    }

    .venue-info {
        width: 495px;
        margin-left: 60px;
        margin-top: 15px;
    }

    .venue-info h3 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: -10px;
    }

    .overview-details {
        font-size: 16px;
        margin-bottom: 5px;
        /* margin-left: -40px; */
        margin-top: -20px;
        display: flex;
        flex-direction: row;
    }

    .overview-details p {
        margin-right: 15px;
    }

    .venue-info a {
        font-size: 14px;
    }
}

@media screen and (max-width: 920px) {
    #noBrowseDiv {
        margin-left: 50px;
    }
}

@media screen and (max-width: 820px) {
    #noBrowseDiv {
        margin-left: 75px;
    }

    .noBrowseVenuesMessage {
        font-size: 18px;
    }
}

@media screen and (max-width: 746px) {
    #noBrowseDiv {
        margin-left: 100px;
    }
}

@media screen and (max-width: 715px) {
    #title-browse {
        font-size: 27px;
    }
}

@media screen and (max-width: 670px) {
    #title-browse {
        font-size: 22px;
    }
}

@media screen and (max-width: 630px) {
    #title-browse {
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    #title-browse {
        font-size: 14px;
    }
}

/* SINGLE VENUES MEDIA QUERIES */
@media screen and (max-width: 1260px) {
    #ratingDoughnutChart {
        width: 500px;
       
    }

    #singleVenueRatingDiv {
        width: 100%;
        flex-shrink: 1;
    }
}

@media screen and (max-width: 1410px) {
    #venuePriceSubheading {
        font-size: 18px;
        font-weight: 500;
    }

    #cateringPriceSubheading {
        font-size: 18px;
        font-weight: 500;
    }

    #pricingBox {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1140px) {
    #pricingInfo {
        flex-direction: column;
    }

    #venuePriceSubheading {
        font-size: 20px;
    }

    #cateringPriceSubheading {
        font-size: 20px;
    }

    #pricingBox {
        padding-left: 70px;
        padding-right: 80px;
        margin-bottom: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 1130px) {
    #ratingDoughnutChart {
        width: 400px;
        /* height: 200px; */
    }
}

@media screen and (max-width: 1010px) {
   #ratingDoughnutChart {
    width: 350px;
   }
}

@media screen and (max-width: 950px) {
    #singleLocationRatingContainer {
        flex-direction: column;
    }

    #singleLocationDiv {
        margin-bottom: 20px;
    }

    #ratingDoughnutChart {
        width: 650px;
        height: 300px;
    }
}

@media screen and (max-width: 870px) {
    #ratingDoughnutChart {
        width: 600px;
    }
}

@media screen and (max-width: 790px) {
    #ratingDoughnutChart {
        width: 550px;
    }
}

@media screen and (max-width: 750px) {
    #ratingDoughnutChart {
        width: 500px;
    }
}

@media screen and (max-width: 660px) {
    #ratingDoughnutChart {
        width: 450px;
    }
}

@media screen and (max-width: 610px) {
    #ratingDoughnutChart {
        width: 400px;
    }
}

@media screen and (max-width: 550px) {
    #ratingDoughnutChart {
        width: 350px;
    }
}

@media screen and (max-width: 870px) {
    .singleMainImage {
        margin-top: -50px;
    }

    #singleVenueDescriptionContainer {
        margin-top: -100px;
    }
}

@media screen and (max-width: 750px) {
    .singleMainImage {
        margin-top: -100px;
    }

    #singleVenueDescriptionContainer {
        margin-top:  -200px;
    }
}

@media screen and (max-width: 630px) {
    .singleMainImage {
        margin-top: -150px;
    }

    #singleVenueDescriptionContainer {
        margin-top: -250px;
    }
}

@media screen and (max-width: 645px) {
    #singleVenueDetailsDiv {
        min-width: 180px;
    }
}

/* COMPARISON MEDIA QUERIES */
@media screen and (max-width: 965px) {
    .compareImg {
        max-width: 400px;
    }
}

@media screen and (max-width: 865px) {
    .compareImg {
        max-width: 350px;
    }

    #leftCompareColumn {
        margin-right: 20px;
    }
}

@media screen and (max-width: 745px) {
    .compareImg {
        max-width: 300px
    }

    #leftCompareColumn {
        margin-right: 5px;
    }
}

@media screen and (max-width: 625px) {
    .compareImg {
        max-width: 250px;
    }

    #comparisonLocationLeft {
        font-size: 13px;
    }

    #comparisonLocationRight {
        font-size: 14px;
    }
}

@media screen and (max-width: 530px) {
    .compareImg {
        max-width: 235px;
    }
}